{% extends 'base.html.twig' %}

{% block title %}{{ "article.articles"|trans }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h4>{{ "article.articles"|trans }}</h4>
        </div>
        <div class="col text-right">
            <a class="btn btn-primary" href="{{ path("article_create") }}">{{ "article.create"|trans }}</a>
        </div>
    </div>
    <hr/>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>{{ "article.id"|trans }}</th>
                <th>{{ "article.author"|trans }}</th>
                <th>{{ "article.title"|trans }}</th>
                <th>{{ "article.description"|trans }}</th>
                <th>{{ "article.created"|trans }}</th>
                <th>{{ "article.edited"|trans }}</th>
                <th>{{ "article.options"|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% if articles %}
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.author }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.description }}</td>
                        <td>{{ article.created.format("d.m.Y H:i") }}</td>
                        <td>{{ article.edited.format("d.m.Y H:i") }}</td>
                        <td>
                            <a class="btn btn-warning btn-sm"
                               href="{{ path("article_edit" , {"id": article.id}) }}">
                                {{ "article.edit"|trans }}
                            </a>
                            <a class="btn btn-danger btn-sm"
                               href="{{ path("article_delete", {"id": article.id}) }}">
                                {{ "article.delete"|trans }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">{{ "article.no_data"|trans }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        {% if totalPages %}
            {% for i in 1.. totalPages %}
                <div class="btn-group" role="group">
                    <a class="btn btn-secondary" href="{{ path("article", {"page": i}) }}">
                        {{ i }}
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
